#catalog {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.75rem;
}

#catalog h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

#add-button {
    width: 15%;
    align-self: center;
}